:root {
  --text: #e5e7eb;
  --text-h: #f9fafb;
  --border: #1f2937;
  --code-bg: #020617;
  --accent: #4f46e5;
  --accent-bg: rgba(79, 70, 229, 0.08);
  --accent-border: rgba(129, 140, 248, 0.8);

  --sans: system-ui, 'Segoe UI', Roboto, -apple-system, BlinkMacSystemFont,
    'Helvetica Neue', Arial, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;

  font: 16px/150% var(--sans);
  color-scheme: dark;
  color: var(--text);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 32px;
  letter-spacing: -0.04em;
  margin: 0 0 8px;
}
h2 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin: 0 0 8px;
}
p {
  margin: 0;
}

code {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
